.value {
  color: #2E2F42;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.04em;
}

.label {
  color: #2E2F42;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

.timer {
  display: flex;
  gap: 24px;
  width: 346px;
  height: 72px;
  justify-content: space-around;
  margin-left: 4px;
}

input {
  border-radius: 4px;
  border: 1px solid #808080;
  width: 254px;
  height: 38px;
  color: #2E2F42;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 0 0 0 16px;
  margin-right: 8px;
  margin-bottom: 32px;
}

input:hover {
  border: 1px solid #000;
  transition: 0.9s;
}

input:active {
  border: 1px solid #4E75FF;
  transition: 0.9s;
}

input:disabled {
  border-radius: 4px;
  border: 1px solid #808080;
  background: #FAFAFA;
}

button:disabled {
  width: 75px;
  height: 40px;
  border-radius: 8px;
  background: #CFCFCF;
  color: #989898;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: 0;
}

button {
  background: #4E75FF;
  color: #FFF;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: 0.9s;
  width: 75px;
  border-radius: 8px;
  height: 40px;
  border: 0;
}

button:active {
  color: #FFF;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: #6C8CFF;
  transition: 0.9s;
}

.field{
  display: flex;
  align-items: center;
  flex-direction: column;
}

